@use "../../assets/css/modules/mixins";
@use "../../assets/css/modules/colors";

.item-wrapper {
  .cart-item {

    width: 100%;
    @include mixins.establecerFlex(row);
    @include mixins.alinearComponentes(space-between);

    .nombre {

      img {
        height: 50px;
        width: 50px;
      }

    }

    .precio {

    }

  }

  hr {
    margin-top: 8px;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: .25;
  }

  .precio {

    i {
      color: colors.$delete-color;
      vertical-align: top;
      font-size: 37px;
      margin-left: 40px;
      cursor: pointer;
    }

    i:hover {
      color: colors.$delete-hover-color;
    }

  }

}