$info-color: #5F9EA0;
$link-color: #FFFFFF;
$link-hover-color: #FAEBD7;
$hero-leyenda-color: #FFFFFF;
$hero-background: rgba(0,0,0, 0.6);
$cart-detail-background: #F8F8F8;
$pedido-background: #FFFFFF;
